<!doctype html>
<html ng-app="customersApp">
<head>
    <title>AngularJS Controller</title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body ng-controller="CustomersController">
    <div >   
    <h2>Customers</h2>
        Filter:<input type="text" ng-model="customerFilter" />
      
    <br /><br />
    <table>
        <tr>
            <th ng-click="doSort('name')">Name</th>
            <th ng-click="doSort('city')">City</th>
            <th ng-click="doSort('orderTotal')">Order Total</th>
            <th ng-click="doSort('joined')">Joined</th>
        </tr>
        <tr ng-repeat="cust in customers | filter:customerFilter |  orderBy:sortBy:reverse">
            <td>{{ cust.name | uppercase }}</td>
            <td>{{ cust.city | lowercase }}</td>
            <td>{{ cust.orderTotal | currency }}</td>
            <td>{{ cust.joined | date:'yyyy-mm-dd'}}</td>
        </tr>
    </table>
        <br />
        <span>Total customers:{{customers.length}}</span>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/customersController.js"></script>
</body>
</html>
